{% extends 'cms/base.html' %}
{% load static %}
    {% block main %}
<main class="page-content">
        <!-- Breadcrumbs-->
        <section>
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Neurion was founded at the verge of the centuries and millenia, back in 2000</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Main content-->
        <section class="section-bottom-57">
          <div class="shell">
            <div class="range">
              <div class="cell-md-9">
                <div class="section-top-30">
                  <article class="post-info">
                    <div class="post-header">
                      <p class="h1">Neurion was founded at the verge of the centuries and millenia, back in 2000</p>
                    </div>
                    <p>Technically, than it was the sole online blog about the popular science. Of course, if we count that in sense of a blog, that’s being regularly updated and has publications by worldwide renown scientists and researchers… Additionally, there was some inspiration behind this idea. Originally, we were incredibly inspired by the legacy that the “Scientific American” magazine had garnered throughout its 100+ years of the paperback circulation. We aspired to become an online exemplary of what this notable scientific magazine has been for the offline, printed scientific magazines…</p>
                    <p>So, we were eager to employ as many science experts, practicing scientists, university professors, think tanks leaders and researchers as only possible. All we can say, is that we’ve succeeded in that! As of this moment, more than 200 people yearly contribute to our articles either as writers or just an experts… With over 5000 articles, researches and op-eds already published, we lead the industry.</p>
                    <p>And to this day our goal remains to be the mission of carrying the torch of light and knowledge further. We’re sure that our efforts have already helped to popularize science for the next generation of Americans. We will carry on to work on for the next generations to come!</p>
                    <figure><img src="images/about-1-850x478.jpg" alt="" width="850" height="478"/>
                    </figure>
                  </article>
                  <div class="offset-top-50 offset-sm-top-30">
                    <p class="h1">Our team</p>
                    <div class="range offset-top-17">
                      <div class="cell-sm-6 cell-lg-4">
                        <div class="thumbnail thumbnail-variant-1">
                          <figure><img src="images/about-2-300x300.jpg" alt="" width="300" height="300"/>
                          </figure>
                          <div class="caption">
                            <h3>John Warner</h3>
                            <p class="h5">EDITOR-IN-CHIEF</p>
                            <p>John used to work at NASA’s command center some time ago. But now he leads a small, though very much dedicated crew of scientifically excited writers and researchers!</p><a href="mailto:#" class="link link-underline">@johnwarner</a>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-6 cell-lg-4 offset-top-50 offset-sm-top-0">
                        <div class="thumbnail thumbnail-variant-1">
                          <figure><img src="images/about-3-298x300.jpg" alt="" width="298" height="300"/>
                          </figure>
                          <div class="caption">
                            <h3>Rick Sandorum</h3>
                            <p class="h5">SENIOR EDITOR</p>
                            <p>Since his CalTech graduation, Rick Sandorum contributed a lot to the US neurosurgery… After his recent retirement he started to work as a senior editor at our magazine.</p><a href="mailto:#" class="link link-underline">@ricksandorum</a>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-6 cell-lg-4 offset-top-50 offset-md-top-70 offset-lg-top-0">
                        <div class="thumbnail thumbnail-variant-1">
                          <figure><img src="images/about-4-298x300.jpg" alt="" width="298" height="300"/>
                          </figure>
                          <div class="caption">
                            <h3>Mitt Crawley</h3>
                            <p class="h5">SCIENTIFIC CONTRIBUTOR</p>
                            <p>Never underestimate a writer with a Ph.D in physics! Mitt will crawl inside every controversial new scientific research and will tell you everything he thinks about it!</p><a href="mailto:#" class="link link-underline">@mittcrawley</a>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-6 cell-lg-4 offset-top-50 offset-md-top-70">
                        <div class="thumbnail thumbnail-variant-1">
                          <figure><img src="images/about-5-298x300.jpg" alt="" width="298" height="300"/>
                          </figure>
                          <div class="caption">
                            <h3>Richard Crank</h3>
                            <p class="h5">EDITOR</p>
                            <p>Just about 10 years at the Defense Advanced Research Projects Agency (DARPA) gave Richard an unquestionable expertise in everything scientific, military and technologies related…</p><a href="mailto:#" class="link link-underline">@richardcrank</a>
                          </div>
                        </div>
                      </div>
                      <div class="cell-sm-6 cell-lg-4 offset-top-50 offset-md-top-70">
                        <div class="thumbnail thumbnail-variant-1">
                          <figure><img src="images/about-6-300x300.jpg" alt="" width="300" height="300"/>
                          </figure>
                          <div class="caption">
                            <h3>Max Martinssen</h3>
                            <p class="h5">HELTHCARE CONTRIBUTOR</p>
                            <p>Max used to work at the Mayo clinic for 25 years, and only after retiring his position there he chose to follow a path of health &amp; popular science journalism withing our editorial board…</p><a href="mailto:#" class="link link-underline">@maxmartinssen</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="hr-thin offset-top-40 offset-sm-top-60">
                  <div class="offset-top-40">
                    <h4>Contact us, if you have any questions!</h4>
                    <p class="offset-top-17"><em>Your email address will not be published. Required fields are marked *</em></p>
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left offset-top-25">
                      <div class="range range-condensed">
                        <div class="cell-sm-6">
                          <div class="form-group">
                            <label for="contact-name" class="form-label">Your name*</label>
                            <input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="range range-condensed offset-top-10">
                        <div class="cell-sm-6">
                          <div class="form-group">
                            <label for="contact-email" class="form-label">Your email*</label>
                            <input id="contact-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="range offset-top-10">
                        <div class="cell-xs-12">
                          <div class="form-group">
                            <label for="contact-message" class="form-label">Comments*</label>
                            <textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="offset-top-21">
                        <button type="submit" class="btn btn-default">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="cell-md-3 offset-top-60 offset-sm-top-70 offset-md-top-0">
                <div class="range">
                  <div class="cell-sm-6 cell-md-12">
                    <ul class="aside-list">
                      <li class="list-item">
                        <ul class="list-bordered-xs">
                          <li>
                            <article class="post post-text">
                              <div class="post-tags">
                                <ul class="list-tags">
                                  <li><a href="categories-1.html">Physics</a></li>
                                </ul>
                              </div>
                              <div class="post-body">
                                <h3><a href="standard-format.html">How to turn science classes into popular…</a></h3>
                              </div>
                              <div class="post-meta"><a href="#" class="link link-gray">
                                  <time datetime="2016-05-08">May 8, 2016</time></a></div>
                            </article>
                          </li>
                          <li>
                            <article class="post post-text">
                              <div class="post-tags">
                                <ul class="list-tags">
                                  <li><a href="categories-1.html">Psychology</a></li>
                                </ul>
                              </div>
                              <div class="post-body">
                                <h3><a href="standard-format.html">US scientists can spot rogue nuke tests</a></h3>
                              </div>
                              <div class="post-meta"><a href="#" class="link link-gray">
                                  <time datetime="2016-05-03">May 3, 2016</time></a></div>
                            </article>
                          </li>
                          <li>
                            <article class="post post-text">
                              <div class="post-tags">
                                <ul class="list-tags">
                                  <li><a href="categories-1.html">Psychology</a></li>
                                  <li><a href="categories-2.html">Technologies</a></li>
                                </ul>
                              </div>
                              <div class="post-body">
                                <h3><a href="standard-format.html">City birds are smarter than rural ones</a></h3>
                              </div>
                              <div class="post-meta"><a href="#" class="link link-gray">
                                  <time datetime="2016-05-03">May 3, 2016</time></a></div>
                            </article>
                          </li>
                          <li>
                            <article class="post post-text">
                              <div class="post-tags">
                                <ul class="list-tags">
                                  <li><a href="categories-1.html">Psychology</a></li>
                                </ul>
                              </div>
                              <div class="post-body">
                                <h3><a href="standard-format.html">Artificially changing the river’s path</a></h3>
                              </div>
                              <div class="post-meta"><a href="#" class="link link-gray">
                                  <time datetime="2016-05-03">May 3, 2016</time></a></div>
                            </article>
                          </li>
                        </ul>
                      </li>
                      <li class="list-item"><a href="#" class="banner"><img src="images/banner-250x364.jpg" alt="" width="250" height="364"/></a>
                        <hr class="veil-sm reveal-lg-block">
                      </li>
                    </ul>
                  </div>
                  <div class="cell-sm-6 cell-md-12 offset-top-50 offset-sm-top-0 offset-md-top-50">
                    <ul class="aside-list">
                      <li class="list-item">
                        <h4 class="h4-style-1">Discover Scientific News Across Social Media!</h4>
                        <ul class="list-inline list-inline-xxs">
                          <li><a href="#" class="icon icon-xs icon-dark fa-facebook"></a></li>
                          <li><a href="#" class="icon icon-xs icon-dark fa-twitter"></a></li>
                          <li><a href="#" class="icon icon-xs icon-dark fa-google-plus"></a></li>
                          <li><a href="#" class="icon icon-xs icon-dark fa-linkedin"></a></li>
                          <li><a href="#" class="icon icon-xs icon-dark fa-pinterest"></a></li>
                        </ul>
                      </li>
                      <li class="list-item offset-top-28">
                        <hr class="hr-thin hr-mischka">
                        <h4>Love the science?</h4>
                        <!-- RD Mailform-->
                        <form data-form-output="form-output-global" data-form-type="subcscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform max-width-2 offset-top-17 text-left">
                          <div class="form-group">
                            <label for="subscribe-email" class="form-label">Enter your email</label>
                            <input id="subscribe-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                          </div>
                          <button type="submit" class="btn btn-default">Subscribe</button>
                        </form>
                        <hr>
                      </li>
                      <li class="list-item">
                        <h4>Categories</h4>
                        <ul class="list">
                          <li><a href="categories-1.html">Animals</a></li>
                          <li><a href="categories-2.html">Big Data</a></li>
                          <li><a href="categories-1.html">Energy</a></li>
                          <li><a href="categories-2.html">Environment & Nature</a></li>
                          <li><a href="categories-1.html">Health</a></li>
                          <li><a href="categories-2.html">Physics</a></li>
                          <li><a href="categories-1.html">Psychology</a></li>
                          <li><a href="categories-2.html">Space</a></li>
                          <li><a href="categories-1.html">Technologies</a></li>
                        </ul>
                        <hr>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        </main>
        {% endblock %}
