<li>
                      <div class="toggle-control">
                        <button data-rd-navbar-toggle="#login-form" class="link">Login</button>
                      </div>
                      <div id="login-form" class="toggle-content">
                        <h5>Login form</h5>
                        <!-- RD Mailform-->
                        <form class="rd-mailform rd-mailform-xs">
                          <div class="form-group">
                            <label for="login-email" class="form-label">E-Mail</label>
                            <input id="login-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="login-password" class="form-label">Password</label>
                            <input id="login-password" type="password" name="password" data-constraints="@Required" class="form-control">
                          </div>
                          <div class="form-group form-group-checkbox">
                            <label for="login-remember" class="form-label-outside checkbox">
                              <input id="login-remember" type="checkbox" name="remember" class="form-control"><span>Remember me</span>
                            </label>
                          </div>
                          <button type="submit" class="btn btn-sm btn-default">Login</button>
                        </form>
                        <ul class="link-group-1 offset-top-21">
                          <li><a href="#" class="link link-sm link-gray">Forgot your username?</a></li>
                          <li><a href="#" class="link link-sm link-gray">Forgot your password?</a></li>
                        </ul>
                      </div>
                    </li>
                    <li>
                      <div class="toggle-control">
                        <button data-rd-navbar-toggle="#register-form" class="link">Create an Account</button>
                      </div>
                      <div id="register-form" class="toggle-content">
                        <h5>Registration form</h5>
                        <!-- RD Mailform-->
                        <form class="rd-mailform rd-mailform-xs">
                          <div class="form-group">
                            <label for="register-email" class="form-label">E-Mail</label>
                            <input id="register-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="register-password" class="form-label">Password</label>
                            <input id="register-password" type="password" name="password1" data-constraints="@Required" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="register-password-confirm" class="form-label">Confirm password</label>
                            <input id="register-password-confirm" type="password" name="password2" data-constraints="@Required" class="form-control">
                          </div>
                          <div class="form-group form-group-checkbox">
                            <label for="register-remember" class="form-label-outside checkbox">
                              <input id="register-remember" type="checkbox" name="remember" class="form-control"><span>Remember me</span>
                            </label>
                          </div>
                          <button type="submit" class="btn btn-sm btn-default">Registration</button>
                        </form>
                      </div>
                    </li>
