{% extends 'cms/base.html' %}
{% load static %}
    {% block main %}

<main class="page-content">
        <!-- Breadcrumbs-->
        <section>
          <div class="shell">
            <div class="range">
              <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Contacts</li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- Main content-->
        <section class="section-bottom-57">
          <div class="shell">
            <div class="range">
              <div class="cell-md-8 cell-lg-9">
                <div class="section-top-30">
                  <p class="h1">Contacts</p>
                  <h4 class="offset-top-30">Contacts</h4>
                  <address class="contact-info">
                    <dl>
                      <dt>Address</dt>
                      <dd>32433 Tennessee hwy., Alexandria, VA, USA, 22303</dd>
                    </dl>
                    <dl>
                      <dt>Phone</dt>
                      <dd><a href="callto:#" class="link link-inline">555.329.0632</a></dd>
                    </dl>
                    <dl>
                      <dt>Fax</dt>
                      <dd><a href="callto:#" class="link link-inline">555.329.0632</a></dd>
                    </dl>
                    <dl>
                      <dt>E-mail</dt>
                      <dd><a href="mailto:#" class="link link-underline">neurion@demolink.org</a></dd>
                    </dl>
                  </address>
                  <hr class="hr-thin offset-top-40">
                  <div class="offset-top-40">
                    <h4>Contact us, if you have any questions!</h4>
                    <p class="offset-top-17"><em>Your email address will not be published. Required fields are marked *</em></p>
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left offset-top-25">
                      <div class="range range-condensed">
                        <div class="cell-sm-6">
                          <div class="form-group">
                            <label for="contact-name" class="form-label">Your name*</label>
                            <input id="contact-name" type="text" name="name" data-constraints="@Required" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="range range-condensed offset-top-10">
                        <div class="cell-sm-6">
                          <div class="form-group">
                            <label for="contact-email" class="form-label">Your email*</label>
                            <input id="contact-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="range offset-top-10">
                        <div class="cell-xs-12">
                          <div class="form-group">
                            <label for="contact-message" class="form-label">Comments*</label>
                            <textarea id="contact-message" name="message" data-constraints="@Required" class="form-control"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="offset-top-21">
                        <button type="submit" class="btn btn-default">Send</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="cell-md-4 cell-lg-3 offset-top-60 offset-sm-top-70 offset-lg-top-0">
                <div class="range">
                  <div class="cell-sm-6 cell-md-12">
                    <h4 class="h4-style-1">Discover Scientific News Across Social Media!</h4>
                    <ul class="list-inline list-inline-xxs">
                      <li><a href="#" class="icon icon-xs icon-dark fa-facebook"></a></li>
                      <li><a href="#" class="icon icon-xs icon-dark fa-twitter"></a></li>
                      <li><a href="#" class="icon icon-xs icon-dark fa-google-plus"></a></li>
                      <li><a href="#" class="icon icon-xs icon-dark fa-linkedin"></a></li>
                      <li><a href="#" class="icon icon-xs icon-dark fa-pinterest"></a></li>
                    </ul>
                    <hr class="hr-thin hr-mischka veil-sm reveal-md-block">
                  </div>
                  <div class="cell-sm-6 cell-md-12 offset-top-17 offset-sm-top-0 offset-md-top-17">
                    <h4>Love the science?</h4>
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="subcscribe" method="post" action="bat/rd-mailform.php" class="rd-mailform max-width-2 offset-top-17 text-left">
                      <div class="form-group">
                        <label for="subscribe-email" class="form-label">Enter your email</label>
                        <input id="subscribe-email" type="email" name="email" data-constraints="@Email @Required" class="form-control">
                      </div>
                      <button type="submit" class="btn btn-default">Subscribe</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        </main>
        {% endblock %}
