               <div class="rd-navbar-search">
                  <form action="search-results.html" method="GET" data-search-live="rd-search-results-live" class="rd-search">
                    <div class="form-group">
                      <label for="rd-search-form-input" class="form-label">Search...</label>
                      <input id="rd-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                      <div id="rd-search-results-live" class="rd-search-results-live"></div>
                    </div>
                    <button type="submit" class="rd-search-submit"></button>
                  </form>
                  <button data-rd-navbar-toggle=".rd-navbar-search" class="rd-navbar-search-toggle"></button>
                </div>
