<!-- RD Video Player-->
<div data-rd-video-path="{{ post_feature}}" data-rd-video-title="Video Format" data-rd-video-muted="true" data-rd-video-preview="{{ post_imgurl }}" class="rd-video-player max-width-710 play-on-scroll">
                        <div class="rd-video-wrap embed-responsive-16by9">
                          <div class="rd-video-preloader"></div>
                          <video preload="metadata"></video><a href="#" class="rd-video-play-pause rd-video-play-pause-button mdi mdi-play"></a>
                          <div class="rd-video-preview"></div>
                          <div class="rd-video-top-controls">
                            <!-- Title--><span class="rd-video-title"></span><a href="#" class="rd-video-fullscreen mdi mdi-fullscreen rd-video-icon"></a>
                          </div>
                          <div class="rd-video-controls">
                            <div class="rd-video-controls-buttons">
                              <!-- Play\Pause button--><a href="#" class="rd-video-play-pause mdi mdi-play"></a>
                              <!-- Progress bar-->
                            </div>
                            <div class="rd-video-progress-bar"></div>
                            <div class="rd-video-time"><span class="rd-video-current-time"></span><span class="rd-video-time-divider">:</span><span class="rd-video-duration"></span></div>
                            <div class="rd-video-volume-wrap">
                              <!-- Volume button--><a href="#" class="rd-video-volume mdi mdi-volume-high rd-video-icon"></a>
                              <div class="rd-video-volume-bar-wrap">
                                <!-- Volume bar-->
                                <div class="rd-video-volume-bar">
                                  <!-- Volume bar slider-->
                                  <div class="rd-video-volume-bar-slider"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
